<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/college_db</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- create means new table banega. || update means current table mein banega. -->
        
        <property name="hibernate.show_sql">true</property> <!-- ye console mein sql query show karega -->
        <property name="hibernate.format_sql">true</property>
        
        <mapping class="com.uddyan.model.Student"/>  <!-- that class is mapping in database -->
    </session-factory>
</hibernate-configuration>

